

body {
	line-height: 1;
}


/*Estilos del Index*/
#inicio {
	background-image: url(../img/fondo4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}

.logo {
	margin: 0 auto;
	text-align: center;
}

.logo img {
	width: 100px;
	margin-top: 50px;
}

.botones{
	text-align: center;
	position: absolute;
    bottom: 30px;
    width: 100%;
}

.btn {
	background-color: transparent;
	border: 1px solid white !important;
	color: #fff;
	display: inline-block;
}

#btnRegistro {
background-color: white;
border: 1px solid #ff68f9 !important;
color: #ff68f9;
font-weight: bold;
display: inline-block;
}

/*ESTILOS GENERALES*/

#next-user{
	background: #ff68f9;
}
#btn-siguiente{
	background: #ff68f9;
}


.btn-sign-up {
	width: 100%;
	padding: 20px 40px;
	background-color: #FF00BF;
	border-radius: none;
	color: #FFF;
	font-size: 20px;
}

.sign-up-button {
	text-align: center;
	position: absolute;
    bottom: 30px;
    width: 100%;
}

.btn-sign-up:hover{
	color: #fff;
	background-color: #7200BF;
}

.sign-up-style {
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 10px;
	border-bottom: 1px solid #C3C2C2;
	margin-bottom: 10px;
}

.sign-up-style h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

.fa-angle-left {
	color: #4B4C4C;
	font-size: 20px;
	float: left;
}

.fa-angle-left:hover {
	color: #ff00bf;
}



/*SIGN UP PHONE*/

.sign-up-phone p {
	text-align: center;
	margin-top: 15px;
}

.codigo-pais {
	width: 100%;	
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/*SIGN UP USER*/

.sign-up-input {
	border-radius: 10px;
	margin-bottom: 10px;
}

.sign-up-form {
	padding: 50px 20px;
	text-align: center;
}

.fa-envelope-o, .fa-user-o {
	position: absolute;
	z-index: 1000;
	padding: 10px;
	color: #C3C2C2;
}

.form-control::placeholder {
	padding: 30px;
}

/*SIGN UP MAP*/

.icon-logo {
	text-align: center;
	margin: 10px auto;
}

.icon-logo img {
	width: 45px;
	margin-left: -28px;
    margin-top: 25px;
}

.icon-perfil {
	padding-top: 10px;
}

.icon-perfil img {
	width: 45px;
	border-radius: 100%;
	border: 3px solid #fff;
	margin-right: 20px;
}

.icon-gift {
	background-color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	float: right;
	margin-right: 20px;
	top: 15px;
	z-index: 10;
}

.icon-gift i {
	color: #4B4C4C;
	font-size: 25px;
	padding: 10px 0;
	margin-left: -3px;
	padding-top: 10px;
}

.icon-gift i:hover {
	color: #8178aa;
}

#destino {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	border: none;
	width: 90%;
}

#ruta {
	padding: 10px 0;
	background-color: #8178aa;
	border-radius: 10px;
	color: #FFF;
	font-size: 20px;
	margin-top: 10px;
	width: 90%;
}

#ruta:hover {
	border:1px solid #ff68f9;
	color: #fff;
	box-sizing: border-box;
}

#ruta:focus {
	border: transparent;
}

.contenedor-bottom {
	position: absolute;
	bottom: 65px;
	width: 100%;
	padding: 20px;
	z-index: 10;
	padding-left: 50px;
}

/*MAPA y MENÚ*/

.naveg {
	padding-left: 33px;
	margin-top: 10px;
	margin: 0px;
	vertical-align: top;
}

#map {
	z-index: 0;
    height:100vh;
	width: 100vw;
    top: 0px;
    position: relative;
	padding-bottom: 75%; 
	overflow: hidden;
}

.logoW {
	width: 10%;
}

.pictureP {
	width: 100%
}

.perfil-foto img {
	width: 100px;
	margin-left: 25px;
    margin-top: 25px;
}

.perfil-foto {
	text-align: center;
}

.naveg h1 {
	color: black;
	margin-top: 5px;
	text-align: center;
}

.view-profile {
	font-size: 10px;
	color: #6D6D6D;
	text-align: center;
}

hr {
	margin-top:10px;
}

.links-menu a {
	margin-left: 20px;
	color: #434343;
}

.links-menu a:hover {
	color: #FF00BF;
}

a.ultimo-fondo {
	color: #8178aa;
}

#sidebar {
  background: whitesmoke;
  width: 235px;
  height: 532px;
  display: block;
  position: absolute;
  left: -220px;
  top: 10px;
  margin: -15px;
  transition: left 0.3s linear;
  z-index: 10;
  margin-left: -33px;
}

#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
}

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0;
  right: -75px;
}

/* MODAL */

#myModalLabel {
	color: #ff68f9;
	font-weight: bold;
}

.btn-primary {
	background-color: #ff68f9;
	color: #FFF;
	border-color: #ff68f9;
}

.btn-primary:hover {
	background-color: white;
	color: #ff68f9;
}

.span-style {
	background-color: rgba(255, 0, 191, .6);
	color: #FFF;
	margin: .5em auto;
	padding: .5em;
}


.sign-up-style i {
	font-size: 30px;
}

.t-signup{
	font-size: 22px;
	font-weight: 600;
	margin-top: 7px;
}

.s-signup{
	margin-top: 20px;
}

.input-group-addon {
	background-color: transparent;

}

.form-control {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-lg {
    margin-bottom: 15px;
}

.i-email {
	background-image: url(../docs/icon-email.png);
	background-size: 30px;
	background-position: 15px;
    background-repeat: no-repeat;
}

.i-user{
	background-image: url(../docs/icon-user.png);
	background-size: 30px;
	background-position: 15px;
    background-repeat: no-repeat;
}

hr {
    margin-bottom: 15px;
}

.container .line{
    padding-right: 0;
    padding-left: 0;
}

.checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-lg {
    border-radius: 0;
}

.ancho-12 {
	padding-right: 0; 
    padding-left: 0; 
}

.linea {
	background-color: #eee;
	width: 100%;
	height: 1px;
	margin: 10px 0;
}

.btn-primary {
	background-color: #ff68f9;
    border-color: transparent;
}

label input {
	width: 20px;
	height: 20px;
}

label span {
	margin-left: 10px;
}

input[type=checkbox] {
	margin: 0;
}

.checkbox input[type=checkbox] {
	margin-top: -2px;
}

.text-danger-lyft {
	color: #f300b2;
	margin: 10px;
	display: block;
}

.span-style {
	background-color: rgba(255, 0, 191, .6);
	color: #FFF;
	padding: 10px;
}

/*mas estilos CSS*/
.iti-flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.1.0/img/flags.png");}
  
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.1.0/img/flags@2x.png");}
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input.error {
  border: 1px solid #FF7C7C;
}

